# EditorConfig file http://EditorConfig.org

# top-most EditorConfig file
root = true

# for every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8
# Extended properties (https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties)
spaces_around_operators = true
# IntelliJ specific
ij_visual_guides = 160

# ISO LATIN for properties files
[*.properties]
charset = latin1
trim_trailing_whitespace = false
